
<section id="main-slider" class="no-margin">
    <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="carousel-content center centered">
                                <h2 class="boxed animation animated-item-1 fade-down">SOLUSI UNTUK MADU ALAMI YANG BERKUALITAS</h2>
                                <p class="boxed animation animated-item-2 fade-up">Madu asli tanpa bahan kimia di ambil langsung dari peternak.</p>
                                <br>
                                <a class="btn btn-md animation bounce-in" href="/peternak">LIHAT PETERNAK</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.item-->
        </div>
        <!--/.carousel-inner-->
    </div>
    <!--/.carousel-->
</section>
<!--/#main-slider-->

<div id="content-wrapper">
    <section id="services" class="white">
        <div class="container">
            <div class="gap"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="center gap fade-down section-heading">
                        <h2 class="main-title">APLIKASI MADU</h2>
                        <hr>
                        <p>Dikelola oleh para petani lokal dengan bantuan dan dibawah binaan dinas kehutanan.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="service-block">
                        <div class="pull-left bounce-in">
                            <i class="fa fa-camera fa fa-md"></i>
                        </div>
                        <div class="media-body fade-up">
                            <h3 class="media-heading">Alami</h3>
                            <p>Di hasilkan oleh lebah dengan jenis tertentu, tanpa ada bahan kimia dan rekayasa dalam menghasilkan madu.</p>
                        </div>
                    </div>
                </div>
                <!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="service-block">
                        <div class="pull-left bounce-in">
                            <i class="fa fa-thumbs-o-up fa fa-md"></i>
                        </div>
                        <div class="media-body fade-up">
                            <h3 class="media-heading">Berkualitas</h3>
                            <p>Terdapat uji kualitas madu yang dapat menjamin kualitas madu.</p>
                        </div>
                    </div>
                </div>
                <!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="service-block">
                        <div class="pull-left bounce-in">
                            <i class="fa fa-ticket fa fa-md"></i>
                        </div>
                        <div class="media-body fade-up">
                            <h3 class="media-heading">Sehat</h3>
                            <p>Sehat untuk tubuh yang dapat menjaga ketahanan tubuh dari berbagai serangan penyakit.</p>
                        </div>
                    </div>
                </div>
                <!--/.col-md-4-->
                <!--/.row-->
            </div>
            <!--/.row-->
        </div>
    </section>



    <section id="about-us" class="white">
        <div class="container">
            <div class="gap"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="center gap fade-down section-heading">
                        <h2 class="main-title">APLIKASI MADU</h2>
                        <hr>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 fade-up">
                    <p>Hasil kerja sama antara Dinas Kehutanan Wilayah VII Jawa Barat,Institut Teknologi Bandung (ITB),PPTIK dan SMKN 1 Kawali. dengan para peternak yang membentuk sebuah kelompok untuk mengelola madu berkualitas tinggi. 
                        Selain itu juga aplikasi ini digagas untuk memenuhi pesanan yang tinggi sehingga dapat mencukupi kebutuhan madu di pasaran.
                    </p>
                    <p>Dengan membeli produk madu dari peternak lokal kalian telah membantu mereka dalam memajukan usahanya.
                        Jika produk peternak lokal dapat berkualitas, kenapa memilih yang lain?
                    </p>
                </div>
                <div class="col-md-4 fade-up">

                </div>
            </div>
            <div class="gap"></div>


            <div class="gap"></div>

            <!--/#meet-the-team-->
            <div class="gap"></div>
            <div class="gap"></div>
        </div>
    </section>

    <section id="stats" class="divider-section">
        <div class="gap"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="center bounce-in">
                        <span class="stat-icon"><span class="pe-7s-timer bounce-in"></span></span>
                        <h1><span class="counter">246</span></h1>
                        <h3>STUP MADU</h3>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="center bounce-in">
                        <span class="stat-icon"><span class="pe-7s-light bounce-in"></span></span>
                        <h1><span class="counter">168</span></h1>
                        <h3>JENIS LEBAH</h3>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="center bounce-in">
                        <span class="stat-icon"><span class="pe-7s-graph1 bounce-in"></span></span>
                        <h1><span class="counter">9,9</span></h1>
                        <h3>LITER MADU</h3>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="center bounce-in">
                        <span class="stat-icon"><span class="pe-7s-box2 bounce-in"></span></span>
                        <h1><span class="counter">54875</span></h1>
                        <h3>PENGGUNA</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="gap"></div>
    </section>



    <section id="blog" class="white">
        <div class="container">
            <div class="center gap fade-down section-heading">
                <div class="gap"></div>
                <h2 class="main-title">Informasi</h2>
                <hr>
                <p>Beberapa artikel ini mungkin dapat menambah pengetahuan kamu</p>
            </div>
            <div class="gap"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="post">
                        <div class="post-img-content">
                            <img src="impact/images/portfolio/folio02.jpg" class="img-responsive" />
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="impact/#"><i
                                        class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="content">
                            <h2 class="post-title">Kenapa Madu Sehat?</h2>
                            <div class="author">
                                <i class="fa fa-user"></i> By <b>Author</b> | <i class="fa fa-clock-o"></i> <time
                                    datetime="2014-01-20">April 11th, 2014</time>
                            </div>
                            <div>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </div>
                            <div class="read-more-wrapper">
                                <a href="impact/#" class="btn btn-outlined btn-primary">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="post">
                        <div class="post-img-content">
                            <img src="impact/images/portfolio/folio06.jpg" class="img-responsive" />
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="impact/#"><i
                                        class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="content">
                            <h2 class="post-title">Lebah Penghasil Madu</h2>
                            <div class="author">
                                <i class="fa fa-user"></i> By <b>Author</b> | <i class="fa fa-clock-o"></i> <time
                                    datetime="2014-01-20">April 11th, 2014</time>
                            </div>
                            <div>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </div>
                            <div class="read-more-wrapper">
                                <a href="impact/#" class="btn btn-outlined btn-primary">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="post">
                        <div class="post-img-content">
                            <img src="impact/images/portfolio/folio11.jpg" class="img-responsive" />
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="impact/#"><i
                                        class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="content">
                            <h2 class="post-title">Hidup Sehat Dengan Madu</h2>
                            <div class="author">
                                <i class="fa fa-user"></i> By <b>Author</b> | <i class="fa fa-clock-o"></i> <time
                                    datetime="2014-01-20">April 11th, 2014</time>
                            </div>
                            <div>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </div>
                            <div class="read-more-wrapper">
                                <a href="impact/#" class="btn btn-outlined btn-primary">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

</div>


