
<section id="main-slider" class="no-margin">
    <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="carousel-content center centered">
                                <h2 class="boxed animation animated-item-1 fade-down">SEMUA BISA MUDAH DENGAN
                                    TEKNOLOGI</h2>
                                <p class="boxed animation animated-item-2 fade-up">Jadilah Petani Lebah Madu Modern
                                    Yang Sejahtera.</p>
                                <br>
                                <a class="btn btn-md animation bounce-in" href="impact/#services">Gabung
                                    Sekarang</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.item-->
        </div>
        <!--/.carousel-inner-->
    </div>
    <!--/.carousel-->
</section>
<!--/#main-slider-->

<div id="content-wrapper">
    <section id="services" class="white">
        <div class="container">
            <div class="gap"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="center gap fade-down section-heading">
                        <h2 class="main-title">APLIKASI DETEKSI PANEN MADU</h2>
                        <hr>
                        <p>Aplikasi Pendeteksi panen madu untuk petani lebah madu lokal.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="service-block">
                        <div class="pull-left bounce-in">
                            <i class="fa fa-camera fa fa-md"></i>
                        </div>
                        <div class="media-body fade-up">
                            <h3 class="media-heading">Mudah</h3>
                            <p>Nay middleton him admitting consulted and behaviour son household. Recurred advanced
                                he oh together entrance speedily suitable. Ready tried gay state fat could boy its
                                among shall.</p>
                        </div>
                    </div>
                </div>
                <!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="service-block">
                        <div class="pull-left bounce-in">
                            <i class="fa fa-thumbs-o-up fa fa-md"></i>
                        </div>
                        <div class="media-body fade-up">
                            <h3 class="media-heading">Efektif</h3>
                            <p>Unfeeling agreeable suffering it on smallness newspaper be. So come must time no as.
                                Do on unpleasing possession as of unreserved.</p>
                        </div>
                    </div>
                </div>
                <!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="service-block">
                        <div class="pull-left bounce-in">
                            <i class="fa fa-ticket fa fa-md"></i>
                        </div>
                        <div class="media-body fade-up">
                            <h3 class="media-heading">Terstruktur</h3>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                                egestas. Vestibulum tortor quam, feugiat vitae.</p>
                        </div>
                    </div>
                </div>
                <!--/.col-md-4-->
                <!--/.row-->
            </div>
            <!--/.row-->
        </div>
    </section>



    <section id="about-us" class="white">
        <div class="container">
            <div class="gap"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="center gap fade-down section-heading">
                        <h2 class="main-title">APLIKASI DETEKSI PANEN MADU</h2>
                        <hr>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 fade-up">
                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
                        nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh
                        vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio
                        tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class
                        aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris
                        in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque
                        elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed
                        fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse
                        in orci enim.</p>

                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
                        nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh
                        vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio
                        tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class
                        aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris
                        in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque
                        elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed
                        fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse
                        in orci enim.</p>
                </div>
                <div class="col-md-4 fade-up">

                </div>
            </div>
            <div class="gap"></div>


            <div class="gap"></div>

            <!--/#meet-the-team-->
            <div class="gap"></div>
            <div class="gap"></div>
        </div>
    </section>

    <section id="stats" class="divider-section">
        <div class="gap"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="center bounce-in">
                        <span class="stat-icon"><span class="pe-7s-timer bounce-in"></span></span>
                        <h1><span class="counter">246</span></h1>
                        <h3>STUP MADU</h3>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="center bounce-in">
                        <span class="stat-icon"><span class="pe-7s-light bounce-in"></span></span>
                        <h1><span class="counter">168</span></h1>
                        <h3>JENIS LEBAH</h3>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="center bounce-in">
                        <span class="stat-icon"><span class="pe-7s-graph1 bounce-in"></span></span>
                        <h1><span class="counter">9,9</span></h1>
                        <h3>LITER MADU</h3>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="center bounce-in">
                        <span class="stat-icon"><span class="pe-7s-box2 bounce-in"></span></span>
                        <h1><span class="counter">54875</span></h1>
                        <h3>PENGGUNA</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="gap"></div>
    </section>



    <section id="blog" class="white">
        <div class="container">
            <div class="center gap fade-down section-heading">
                <div class="gap"></div>
                <h2 class="main-title">Informasi</h2>
                <hr>
                <p>Beberapa artikel ini mungkin dapat menambah pengetahuan kamu</p>
            </div>
            <div class="gap"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="post">
                        <div class="post-img-content">
                            <img src="impact/images/portfolio/folio02.jpg" class="img-responsive" />
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="impact/#"><i
                                        class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="content">
                            <h2 class="post-title">Kenapa Madu Sehat?</h2>
                            <div class="author">
                                <i class="fa fa-user"></i> By <b>Author</b> | <i class="fa fa-clock-o"></i> <time
                                    datetime="2014-01-20">April 11th, 2014</time>
                            </div>
                            <div>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </div>
                            <div class="read-more-wrapper">
                                <a href="impact/#" class="btn btn-outlined btn-primary">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="post">
                        <div class="post-img-content">
                            <img src="impact/images/portfolio/folio06.jpg" class="img-responsive" />
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="impact/#"><i
                                        class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="content">
                            <h2 class="post-title">Lebah Penghasil Madu</h2>
                            <div class="author">
                                <i class="fa fa-user"></i> By <b>Author</b> | <i class="fa fa-clock-o"></i> <time
                                    datetime="2014-01-20">April 11th, 2014</time>
                            </div>
                            <div>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </div>
                            <div class="read-more-wrapper">
                                <a href="impact/#" class="btn btn-outlined btn-primary">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="post">
                        <div class="post-img-content">
                            <img src="impact/images/portfolio/folio11.jpg" class="img-responsive" />
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="impact/#"><i
                                        class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="content">
                            <h2 class="post-title">Hidup Sehat Dengan Madu</h2>
                            <div class="author">
                                <i class="fa fa-user"></i> By <b>Author</b> | <i class="fa fa-clock-o"></i> <time
                                    datetime="2014-01-20">April 11th, 2014</time>
                            </div>
                            <div>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </div>
                            <div class="read-more-wrapper">
                                <a href="impact/#" class="btn btn-outlined btn-primary">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

</div>


