

<section id="single-page-slider" class="no-margin">
    <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="center gap fade-down section-heading">
                                <h2 class="main-title">Kelompok Peternak Madu</h2>
                                <hr>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.item-->
        </div>
        <!--/.carousel-inner-->
    </div>
    <!--/.carousel-->
</section>
<!--/#main-slider-->

<div id="content-wrapper">
    <section id="blog" class="white">
        <div class="container">
            <div class="center gap fade-down section-heading">
            </div>
             <div class="gap"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="center gap fade-down section-heading">
                        <h2 class="main-title">Daftar Kelompok Peternak Madu</h2>
                        <hr>
                        <p>Kelompok peternak madu dibentuk berdasarkan daerah tempat peternak. Dengan tujuan untuk menghasilkan madu yang lebih berkualitas, dan memajukan usaha dengan adanya pengelolaan hasil panen dan penjualan yang lebih baik.</p>
                    </div>
                </div>
            </div>
            <div class="gap"></div>
            <div class="row">
                 <div class="col-md-4">
                    <div class="post">
                        <div class="post-img-content">
                            
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="#"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="content">
                            <h1 class="post-title">KTH Jaya Selalu</h1>
                            <div class="author">
                                Di <b>Tasikmalaya</b> | <i class="fa fa-clock-o"></i> <time
                                    datetime="2014-01-20">April 11th, 2014</time>
                            </div>
                            <div>
                                
                            </div>
                            <div class="">
                                <a href="#" class="btn btn-outlined btn-primary btn-block btn-rounded">Detail</a>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="col-md-4">
                    <div class="post">
                        <div class="post-img-content">
                            
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="#"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="content">
                            <h1 class="post-title">KTH Jaya Selalu</h1>
                            <div class="author">
                                Di <b>Tasikmalaya</b> | <i class="fa fa-clock-o"></i> <time
                                    datetime="2014-01-20">April 11th, 2014</time>
                            </div>
                            <div>
                                
                            </div>
                            <div class="">
                                <a href="#" class="btn btn-outlined btn-primary btn-block btn-rounded">Detail</a>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="col-md-4">
                    <div class="post">
                        <div class="post-img-content">
                            
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="#"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="content">
                            <h1 class="post-title">KTH Jaya Selalu</h1>
                            <div class="author">
                                Di <b>Tasikmalaya</b> | <i class="fa fa-clock-o"></i> <time
                                    datetime="2014-01-20">April 11th, 2014</time>
                            </div>
                            <div>
                                
                            </div>
                            <div class="">
                                <a href="#" class="btn btn-outlined btn-primary btn-block btn-rounded">Detail</a>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="col-md-4">
                    <div class="post">
                        <div class="post-img-content">
                            
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="#"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="content">
                            <h1 class="post-title">KTH Jaya Selalu</h1>
                            <div class="author">
                                Di <b>Tasikmalaya</b> | <i class="fa fa-clock-o"></i> <time
                                    datetime="2014-01-20">April 11th, 2014</time>
                            </div>
                            <div>
                                
                            </div>
                            <div class="">
                                <a href="#" class="btn btn-outlined btn-primary btn-block btn-rounded">Detail</a>
                            </div>
                        </div>
                    </div>
                </div>
                

            </div>
    </section>
</div>
