

<section id="single-page-slider" class="no-margin">
    <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="center gap fade-down section-heading">
                                <h2 class="main-title">Kelompok Tani Hutan</h2>
                                <hr>
                                <p>Kelompok gabungan dari petani untuk menghasilkan madu yang lebih berkualitas.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.item-->
        </div>
        <!--/.carousel-inner-->
    </div>
    <!--/.carousel-->
</section>
<!--/#main-slider-->

<div id="content-wrapper">
    <section id="blog" class="white">
        <div class="container">
            <div class="center gap fade-down section-heading">
            </div>
            <div class="gap"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="post">
                        <div class="post-img-content">
                            <img src="impact/images/portfolio/folio02.jpg" class="img-responsive" />
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="#"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="content">
                            <h2 class="post-title">KTH Bina Lestari</h2>
                            <div class="author">
                                <i class="fa fa-user"></i> By <b>Author</b> | <i class="fa fa-clock-o"></i> <time
                                    datetime="2014-01-20">April 11th, 2014</time>
                            </div>
                            <div>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </div>
                            <div class="read-more-wrapper">
                                <a href="#" class="btn btn-outlined btn-primary">Detail</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="post">
                        <div class="post-img-content">
                            <img src="impact/images/portfolio/folio06.jpg" class="img-responsive" />
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="#"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="content">
                            <h2 class="post-title">KTH Jaya Selalu</h2>
                            <div class="author">
                                <i class="fa fa-user"></i> By <b>Author</b> | <i class="fa fa-clock-o"></i> <time
                                    datetime="2014-01-20">April 11th, 2014</time>
                            </div>
                            <div>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </div>
                            <div class="read-more-wrapper">
                                <a href="#" class="btn btn-outlined btn-primary">Detail</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="post">
                        <div class="post-img-content">
                            <img src="impact/images/portfolio/folio11.jpg" class="img-responsive" />
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="#"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="content">
                            <h2 class="post-title">KTH Makmur Sentosa</h2>
                            <div class="author">
                                <i class="fa fa-user"></i> By <b>Author</b> | <i class="fa fa-clock-o"></i> <time
                                    datetime="2014-01-20">April 11th, 2014</time>
                            </div>
                            <div>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                <div class="read-more-wrapper">
                                    <a href="#" class="btn btn-outlined btn-primary">Detail</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="gap"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="post">
                        <div class="post-img-content">
                            <img src="impact/images/portfolio/folio02.jpg" class="img-responsive" />
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="#"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="content">
                            <h2 class="post-title">KTH Bina Lestari</h2>
                            <div class="author">
                                <i class="fa fa-user"></i> By <b>Author</b> | <i class="fa fa-clock-o"></i> <time
                                    datetime="2014-01-20">April 11th, 2014</time>
                            </div>
                            <div>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </div>
                            <div class="read-more-wrapper">
                                <a href="#" class="btn btn-outlined btn-primary">Detail</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="post">
                        <div class="post-img-content">
                            <img src="impact/images/portfolio/folio06.jpg" class="img-responsive" />
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="#"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="content">
                            <h2 class="post-title">KTH Jaya Selalu</h2>
                            <div class="author">
                                <i class="fa fa-user"></i> By <b>Author</b> | <i class="fa fa-clock-o"></i> <time
                                    datetime="2014-01-20">April 11th, 2014</time>
                            </div>
                            <div>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </div>
                            <div class="read-more-wrapper">
                                <a href="#" class="btn btn-outlined btn-primary">Detail</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="post">
                        <div class="post-img-content">
                            <img src="impact/images/portfolio/folio11.jpg" class="img-responsive" />
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="#"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="content">
                            <h2 class="post-title">KTH Makmur Sentosa</h2>
                            <div class="author">
                                <i class="fa fa-user"></i> By <b>Author</b> | <i class="fa fa-clock-o"></i> <time
                                    datetime="2014-01-20">April 11th, 2014</time>
                            </div>
                            <div>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                <div class="read-more-wrapper">
                                    <a href="#" class="btn btn-outlined btn-primary">Detail</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
    </section>
</div>
